{
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["{libs,apps}/**/*.html"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
